*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

img {
    width: auto;
    height: 50px;
}

ul>li{
    border-bottom: 1px solid #e30d0d;
    background: rgba(34, 34, 34, 0.34);
    display: flex;
    align-items: center;
}